<p id="notice"><%= notice %></p>

<h1>
  <%= @product.name %>
</h2>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <a href="/products/payment" class="btn btn-mini btn-primary">Buy Now</a>
</p>

<%= link_to 'All products', products_path %>
